body {
  background-color: #f8fffe;
  font-family: "Tahoma";
  margin: 0px;
  padding: 0px;
}

* {
  font-size: 16px;
  color: #30968e;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.hflex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.hflex.space {
  justify-content: space-between;
}

button {
  -moz-box-shadow: 2px 2px 2px 0px #014a41;
  -webkit-box-shadow: 2px 2px 2px 0px #014a41;
  box-shadow: 2px 2px 2px 0px #014a41;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4f2e9', endColorstr='#8ccfc7',GradientType=0);
  background-color: #8ccfc7;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 4px;
  border: 2px solid #04a996;
  display: inline-block;
  cursor: pointer;
  color: #146b64;
  font-weight: bold;
  padding: 10px 16px 8px;
  margin: 5px;
  text-decoration: none;
}

select {
  border-color: #8cc4be;
  border-width: 3px;
  border-radius: 6px;
  margin-bottom: 4px;
  padding: 3px 7px;
}

select[disabled='disabled'] {
  background-color: #edf5f4;
  color: #a1bbb9;
}

textarea {
  border-color: #8cc4be;
  border-width: 3px;
  border-radius: 6px;
  padding: 3px 7px;
  font-weight: bold;
}

.header {
  background-color: #50a098;
  height: 70px;
}

.header h1 {
  color: #146b64;
}
.pagetitle {
  top: 20px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.pagesubtitle {
  font-size: small;
  font-weight: bold;
  text-align: center;
}

.content {
  /* background-color: cyan; * /
  max-width: 900px;*/
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.article {
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  min-width: 770px;
  max-width: 770px;
}

.title {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.wallet {
  border: solid 2px #04a997;
  margin-top: 5px; 
  margin-left: auto;
  margin-right: auto;
  min-width: 760px;
  max-width: 760px;
}

.qr {
  margin-top: 2px;
}

#statusMessage {
  height: 20px;
  margin-top: 5px;
}

.warning {
  margin-top: 20px;
  font-size: 20px;
  border: solid 2px;
  padding-left: 10px;
  padding-bottom: 3px;
  background-color: #8ccfc7;
  color: #146b64;
}

#story {
  padding-top: 20px;
}


svg  {
  stroke: #8cc4be;
}

.spinner {
  animation: spin 2s linear infinite;
  transition-timing-function: ease-in-out;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

